@charset "UTF-8";



/* 
--------------------------------------------------
 CSS to see the bootstrap grids
-------------------------------------------------- */
/*
div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

div[class^="col"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
*/

/* 
--------------------------------------------------
 Bootstrap dropdown menu out of alignment fix
-------------------------------------------------- */
.dropdown {
  margin-top: 0px;
}

/* 
--------------------------------------------------
 Images
-------------------------------------------------- */

a img
{
  border:0;
} 

img 
{ 
  max-width: 100%;
}

.responsive-image { max-width:100%; height:auto; }

/*SUBSCRIPTION FORM*/
$subscription-form-bg: darken($primary-color, 20%);
$subscription-form-color: $white;
$subscription-form-padding: rem-calc(32);


.simple-subscription-form {
  background: $subscription-form-bg;
  color: $subscription-form-color;
  padding: $subscription-form-padding;
  border-radius: $global-radius;

  .button {
    margin-bottom: 0;
    border-radius: 0 $global-radius $global-radius 0;
  }
}


